# openframeworks
*.app
*.xcuserdatad

# OSX

.DS_Store

# Xcode
*.xccheckout
xcuserdata

# win

Thumbs.db

# Unity

*.apk
*.pidb
*.userprefs
Assembly-*
*.sln
*BUILDS

Temp
Build
Library
#Library/*

# Un-ignore these specific files (probably useless since unity 4.x)

#!Library/*.asset
#!Library/AssetImportState
#!Library/AssetVersioning.db
#!Library/BuildPlayer.prefs
#!Library/ScriptMapper
#!Library/assetservercachev3
#!Library/expandedItems
#!Library/guidmapper
#!Library/unity default resources
#!Library/unity editor resources
#!Library/metadata/
